
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="row">
            <div class="col-4">Filter by name: <input type="text" [(ngModel)]="nameFilter" (ngModelChange)="filter()"></div>
            
            <div class="col-4">Filter by site: <input type="text" [(ngModel)]="siteFilter" (ngModelChange)="filter()"></div>
            
            <div class="col-4">Filter by price: {{priceFilter}}<input type="range" min="50" max="1000" [(ngModel)]="priceFilter" (ngModelChange)="filter()"></div>
            
        </div>
        <br>
        <p>Eventos: {{eventFiltrado.length}}</p>
        <p *ngIf="eventFiltrado.length == 0" class="text-danger fw-bold">No existe eventos con estos datos</p>
        <div *ngFor="let item of eventFiltrado | paginate: {itemsPerPage: total, currentPage: cp}" class="col-3">
            
            <div class=" border border-3 rounded-4">
                <form #event="ngForm" (ngSubmit)="submit()" >
                    <h5>Nombre:</h5>
                    <p>{{item.event_name}}</p>
                    <h5>Tipus:</h5>
                    <p>{{item.event_type}}</p>
                    <h5>Data:</h5>
                    <p>{{item.event_date}}</p>
                    <h5>Lloc:</h5>
                    <p>{{item.event_site}}</p>
                    <h5>Preu:</h5>
                    <p>{{item.event_price}}</p>
                    <div *ngIf="role=='admin'">
                        <button class="btn btn-success mt-3 mb-3">Modificar</button>
                        <button class="btn btn-danger mt-3 ms-2 mb-3">Eliminar</button> 
                    </div>
                    <div *ngIf="role=='comprador'">
                        <button class="btn btn-success mt-3 ms-2 mb-3">Comprar</button>
                    </div>
                    
                </form>
                
            </div>  
        </div>
        <pagination-controls (pageChange)="cp = $event"></pagination-controls>
       
        
       
    </div>
    
</div>