
<div class="container-fluid">
    <div class="row justify-content-center">
        
        <form #login="ngForm" (ngSubmit)="submit()" class="col-3 border border-3 rounded-4">
            <h1 class="mt-3">Login</h1>
            <label for="" class="form-label">User:</label>
            <input name="user" #user="ngModel" type="text" [(ngModel)]="nombreUsuario" pattern="[Aa-Zz]+" class="form-control">
            <div *ngIf="user.errors?.['required'] && user.touched" class="h4 pb-2 mt-4 mb-2 text-danger border-bottom border-danger">
                Este campo es obligatorio
            </div>
            <div *ngIf="user.errors?.['pattern'] && user.touched" class="h4 pb-2 mt-4 mb-2 text-danger border-bottom border-danger">
                Solo se admiten letras
            </div>
        
            <br>
        
            <label for="" class="form-label">Password:</label>
            <input name="password" #password="ngModel" type="password" [(ngModel)]="passwordUsuario" required entreValores  class="form-control">
            <div *ngIf="password.errors?.['required'] && password.touched" class="h4 pb-2 mt-4 mb-2 text-danger border-bottom border-danger">
                Este campo es obligatorio
            </div>
            <div *ngIf="loginValidation =='error'">
                <p class="h4 pb-2 mt-4 mb-2 text-danger border-bottom border-danger">El usuario o la contraseña no es valido/p>
            </div>
            <!--
                <br>
        
            {{nombreUsuario}} {{nombreUsuario}}
        
            <br>
            -->
            
            <button [disabled]="login.invalid"  class="btn btn-primary mt-3 mb-3">Login</button>
        </form>
    </div>
    
</div>
